body {
  background-color: rgb(255, 255, 255);
}


header {
    background-color: rgb(255, 244, 199);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 50px;

  }
  
  
  header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;

  }
  
  header a:hover {
    text-decoration: underline;
  }
  
.posts {
    color: rgb(0, 0, 0);
    /* border: 3px solid #73AD21; */
    padding: 10px;
    
  }

.post {
  background-color: rgb(231, 231, 231);
  margin: auto;
  width: 60%;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  top: 30%;
}

.postdetail {
  height: 30%;
  color: rgb(0, 0, 0);
  background-color: rgb(231, 231, 231);
  margin: auto;
}

.post1{
  background-color: rgb(231, 231, 231);
  margin: auto;
  width: 40%;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  top: 30%;
  
}

.post-title {
  margin: auto;
  width: 20%;
  color: blue;
  /* position: fixed; */
  top: 100px;
  left: 45%;
}


/* .post_pr{
  background-color: rgb(231, 231, 231);
  margin: auto;
  width: 50%;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
} */

.pr{
  width: 25%;
  border-right: 2px solid rgb(255, 245, 178);
  position: fixed;
}


.comments{
  color: rgb(13, 206, 13);
}
